.detailsContainer {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #bababa;
    overflow: hidden; 
}

.detailsLink {
    position: absolute;
    top: 0;
    right: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.detailsContent {
    display: flex;
    gap: 10px;
    margin: 5px 0 12px 15px;
}

.detailsKey {
    font-size: 20px;
}

.detailsValue {
    font-size: 20px;
}

h2 {
    margin-left: 220px;
}